@charset "utf-8";

/* Reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', Helvetica, Inter,
    'Apple SD Gothic Neo', sans-serif;
  background-color: #fff;
  line-height: 1.5;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  margin: 0;
  padding: 0;
}

em,
address {
  font-style: normal;
}
nav,
dl,
ul,
ol,
menu,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  cursor: pointer;
}
.blind {
  overflow: hidden !important;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  clip: rect(0 0 0 0) !important;
}

/* Layout */
.container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; */
  margin: 30px auto 0;
}
.subject {
  margin-bottom: 0.4rem;
  font-size: 1.3rem;
}
.split-box {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 600px;
  border: 1px solid #d3d3d3;
}
.split-box .col {
  position: relative;
  width: 50%;
  height: 500px;
}
.split-box .col.left {
  border-right: 1px solid #d3d3d3;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  background-color: #000;
  /* background-color: #062f4f; */
  /* background-color: #581041; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
header .split {
  display: flex;
  align-items: center;
}
header .split .btn {
  width: 48px;
  height: 48px;
  border: 0;
  background-color: transparent;
}
header .split .btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .split .btn.btn-menu .icon-svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}
header .split .title {
  margin-left: 0.625rem;
  color: #fff;
  font-size: 1.25rem;
}

/* SNB */
main {
  display: flex;
  margin-top: 60px;
}
main aside {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  width: 196px;
  background-color: #fff;
}
main aside .snb-title {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ebebeb;
}
main aside .snb-title a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #a4a4a4;
  font-size: 1.6rem;
  text-decoration: none;
}
main aside nav {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}
main aside nav .menu-lists {
  padding-top: 16px;
}
/* main aside nav .menu-lists > li {} */
main aside nav .menu-lists > li > a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.65rem;
  color: #4a4a4a;
  font-size: 0.825rem;
  text-decoration: none;
}
main aside nav .menu-lists > li.selected > a,
main aside nav .menu-lists > li:hover > a {
  background-color: #f3f3f3;
}

main .dimmed {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.32);
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

main.snb-open aside {
  display: block;
  box-shadow: 0 8px 10px -5px rgb(0 0 0 / 20%), 0 16px 24px 2px rgb(0 0 0 / 14%),
    0 6px 30px 5px rgb(0 0 0 / 12%);
}
main.snb-open .dimmed {
  display: block;
}

main .container {
  /* background-color: skyblue; */
}

/* Hightlight */
.hljs {
  padding: 1rem;
}

/* Daehyun's Top */
.ex-top .split-box {
  width: 800px;
}
.ex-top .split-box .col {
  height: auto;
  padding: 1rem;
}
.ex-top .split-box .col.left {
  width: 65%;
}
.ex-top .split-box .col.right {
  width: 35%;
}
.ex-top .inp-num {
  width: 5rem;
  padding: 0.875rem;
  border: 1px solid #b4b4b4;
  font-size: 1rem;
}
.ex-top .btn-num {
  padding: 0.875rem;
  margin-left: 0.25rem;
  background-color: #3498db;
  border: 0;
  color: #fff;
}
.ex-top .btn-num:hover,
.ex-top .btn-num:focus {
  background-color: #34495e;
}

/* Contact Lists */
.ex-contact .subject {
  margin-bottom: 0.4rem;
  font-size: 1.3rem;
}
.ex-contact .contact-wrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
  border: 1px solid #d3d3d3;
}
.ex-contact .contact-wrap .col {
  position: relative;
  width: 280px;
  height: 500px;
}
.ex-contact .contact-wrap .col.left {
  border-right: 1px solid #d3d3d3;
}
.ex-contact .contact-wrap .col.right {
  position: relative;
}
.ex-contact .search-box {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 1rem;
  background-color: #f8f8f8;
  border-bottom: 1px solid #d3d3d3;
}
.ex-contact .search-box .inp-sch {
  width: 100%;
  padding: 0.75rem;
  font-size: 0.825rem;
}
.ex-contact .contact-list {
  position: absolute;
  top: 76px;
  bottom: 0;
  left: 0;
  right: 0;
}
.ex-contact .contact-list > ul {
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.ex-contact .contact-list > ul > li:list-child {
  border-bottom: 1px solid #ebebeb;
}
.ex-contact .contact-list > ul > li + li {
  border-top: 1px solid #ebebeb;
}
.ex-contact .contact-list > ul > li > button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 1.6rem 1.2rem;
  background-color: transparent;
  border: 0;
}
.ex-contact .contact-list > ul > li > button:hover,
.ex-contact .contact-list > ul > li > button.selected {
  background-color: #e3f6ff;
}
.ex-contact .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2rem;
}
.ex-contact .details .info {
  font-size: 1rem;
  line-height: 2;
}
.ex-contact .details .emptyset {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* RealGrid2 */
.ex-realgird2 {
  width: 1102px;
}
